.title2 {
    text-align: center;
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.title3{
    text-align: center;
    color: rgb(226, 198,251);
}

.teaminfo{
    text-align: center;
}

button {
    color: white;
    margin-top: 20px;
    padding: 10px;
    padding-left: 18px;
    border-radius: 20px;
    background-color: rgb(156, 97, 241);
    box-shadow: 0ch;
    display: block;
    margin: auto;

}