/* Styles for random cat */
.random_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 7cm;
}

.random_p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.random_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random_img {
  width: 400px;
  height: 550px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.random_button {
  background-color: #9c61f1;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease; 
}

.random_button:hover {
  background-color: #3e8e41;
}

/* Styles for random dog */
.random-dog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 7cm;
}

.random-dog_p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.random-dog_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-dog_img {
  width: 400px;
  height: 550px;
  margin-bottom: 10px;
}

.random-dog_button {
  background-color: #9c61f1;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease; 
}

.random-dog_button:hover {
  background-color: #3e8e41;
}

/* Styles for cat meme creator */
.meme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.cat-image {
  width: 400px;
  height: 550px;
  margin-bottom: 20px;
}


.generator {
  display: flex;
  flex-direction: row;
}
 
.random-title {
  color: #999;
  margin-left: 16%;
  font-size: 35px;
}

.statistics{
  margin-left: 16%;
  font-size: 20px;
  margin-bottom: 20px;
  color: #b0aeae;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .random_container,
  .random-dog_container {
    display: block;
    margin-top: 15px;
    margin-left: 0;
  }

  .random_box,
  .random-dog_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .random_img,
  .random-dog_img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 0;
  }
}





