.slogan {
    text-align: center;
    font-size: 4vw;
}

.title{
    color: rgb(226, 198, 251);
    font-weight: bolder;
    font-size: 2vw;
}

.description{
    max-width: 40vw;
    font-size: 1vw;
    font-weight: normal
}

.pet-image {
    height: auto;
    max-width: 30vw;
    padding-top: 2vw;
    padding-bottom: 4vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding-top: 1vw;
    margin-left: 10vw;
}

.review-image{
    margin-left: 0.5vw;
    margin-top: 7vw;
    width: 30vw;
    height: 8vw;
}

.viewpets {
    margin-top: 1vw;
    margin-bottom: 4vw;
    padding: 0.5vw;
    border-radius: 20vw;
    background-color: rgb(156, 97, 241);
    color: white;
    font-size: 1vw;
}

.info4{
    display: flex;
    flex-direction: row;
}