.slogan {
    text-align: center;
    font-size: 5rem;
}

.title{
    color: rgb(226, 198, 251);
    font-weight: bolder;
    font-size: 30px;
}

.description{
    max-width: 17cm;
    font-size: 20px;
    font-weight: normal
}

.pet-image {
    height: auto;
    max-width: 45%;
    padding-top: 15px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding-top: 20px;
    margin-left: 15%;
}

.review-image{
    margin-left: 1%;
    margin-top: 9%;
    width: 400px;
    height: 150px

}

.viewpets {
    margin-top: 20px;
    padding: 10px;
    padding-left: 18px;
    border-radius: 20px;
    background-color: rgb(156, 97, 241);
    color: white;
}

.info4{
    display: flex;
    flex-direction: row;
}