.slogan {
    text-align: center;
    font-size: 6vw;
}

.title{
    color: rgb(226, 198, 251);
    font-weight: bolder;
    font-size: 5vw;
}

.description{
    max-width: 60vw;
    font-size: 2vw;
    font-weight: normal
}

.pet-image {
    height: auto;
    max-width: 50vw;
    padding-top: 5vw;
    padding-bottom: 4vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info {
    padding-top: 1vw;
    margin-left: 10vw;
}

.review-image{
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    width: 70vw;
    height: 15vw;
}

.viewpets {
    margin-top: 5vw;
    padding: 1vw;
    padding-left: 2vw;
    border-radius: 20vw;
    background-color: rgb(156, 97, 241);
    color: white;
    font-size: 2vw;
}

.info4{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {

    .slogan {
    font-size: 12vw;
    }
    
    .title {
    font-size: 10vw;
    }
    
    .description {
    max-width: 80vw;
    font-size: 4vw;
    }
    
    .pet-image {
    max-width: 80vw;
    padding-top: 10vw;
    padding-bottom: 8vw;
    }
    
    .review-image {
    margin-top: 1vw;
    width: 90vw;
    height: 20vw;
    }
    
    .viewpets {
    margin-top: 10vw;
    font-size: 4vw;
    }
    }